/* Estilos para a página de confirmação */
.confirmacao {
    padding: 30px;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    color: #4CAF50;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f4f4f4;
}

.botao-continuar {
    margin-top: 30px;
    text-align: center;
}

.continuar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.continuar:hover {
    background-color: #45a049;
}

/* Rodapé */
.container-footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

.social {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.2);
}
